@model Intikonex_web1.Models.trabajador

@using Intikonex_web1.Models
@{
    ViewBag.Title = "Trabajadores - Detalles";
    Layout = "~/Views/Shared/_Layout_Tecnico.cshtml";
    <link href="~/Content/General.css" rel="stylesheet" />
    <script src="~/Scripts/Dashboard.js"></script>
}

<div>
    <h1 style="text-align:center">DETALLES DEL TRABAJADOR</h1>
    <hr />
    <table class="Listado">
        <tr>
            <th>
                <label>Nombre</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.nombre)
            </td>
        </tr>
        <tr style="width:10px; height:10px"><th style=" border-style: hidden "><br /></th><th style=" border-style: hidden "><br /></th></tr>
        <tr>
            <th>
                <label>Apellidos</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.apellidos)
            </td>
        </tr>
        <tr style="width:10px; height:10px"><th style=" border-style: hidden "><br /></th><th style=" border-style: hidden "><br /></th></tr>
        <tr>
            <th>
                <label>Cargo</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.cargo)
            </td>
        </tr>
        <tr style="width:10px; height:10px"><th style=" border-style: hidden "><br /></th><th style=" border-style: hidden "><br /></th></tr>
        <tr>
            <th>
                <label>Teléfono</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.telefono)
            </td>
        </tr>
        <tr style="width:10px; height:10px"><th style=" border-style: hidden "><br /></th><th style=" border-style: hidden "><br /></th></tr>
        <tr>
            <th>
                <label>Correo Electrónico</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.correo)
            </td>
        </tr>
        <tr style="width:10px; height:10px"><th style=" border-style: hidden "><br /></th><th style=" border-style: hidden "><br /></th></tr>
        <tr>
            <th>
                <label>Documento de identidad</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.dni_nie_nif)
            </td>
        </tr>
        <tr style="width:10px; height:10px"><th style=" border-style: hidden "><br /></th><th style=" border-style: hidden "><br /></th></tr>
        <tr>
            <th>
                <label>Empresa</label>
            </th>
            <td>
                @Html.DisplayFor(model => model.empresa1.razon_social)
            </td>
        </tr>
        <tr style="width:10px; height:10px"><th style=" border-style: hidden "><br /></th><th style=" border-style: hidden "><br /></th></tr>
    </table>
</div>
<table>
    <tr>
        <td>
            <a class="btn-material" style="width:100%" href="/trabajador/Index_tecnico">
                <img class="icon" style="width:50px; height:50%" src="/Image/Iconos/Acciones/Boton_volver.png">
            </a>
        </td>
    </tr>
</table>