@model IEnumerable<Intikonex_web1.Models.Hoja_de_asistencia>
@using Intikonex_web1.Models

@{
    ViewBag.Title = "Hoja de Asistencia";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    <link href="~/Content/General.css" rel="stylesheet" />
    <script src="~/Scripts/Dashboard.js"></script>
}
<h1 style="text-align:center">LISTADO DE HOJAS DE ASISTENCIA</h1>
<hr />
<div style="color:red;">
    @ViewBag.Error
</div>
<a class="btn-material" href="/Hoja_de_asistencia/Create">
    <img class="icon" src="~/Image/Iconos/Acciones/Boton_Crear.png" />
    <img class="icon" src="~/Image/Iconos/Menu/icon-hojadeasistencia.png" />
    Crear Hoja
</a>
<table class="Listado">
    <tr>
        <th>
            <label>Fecha de asistencia</label>
        </th>
        <th>
            <label>Empresa</label>
        </th>
        <th>
            <label>Contrato</label>
        </th>
        <th>
            <label>Persona de Contacto</label>
        </th>
        <th>
            <label>Tecnico asignado</label>
        </th>
        <th>
            <label>Editar</label>
        </th>
        <th>
            <label>Detalles</label>
        </th>
        <th>
            <label>Eliminar</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_asistencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresa.razon_social)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrato.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trabajador.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.nombre)
            </td>
            <td>
                @Html.ImageActionLink(Url.Content("~/Image/Iconos/Acciones/Boton_editar.png"), "", "Edit", new { id = item.id }, new { @class = "icon" })
            </td>
            <td>
                @Html.ImageActionLink(Url.Content("~/Image/Iconos/Acciones/Boton_detalles.png"), "", "Details", new { id = item.id }, new { @class = "icon" })
            </td>
            <td>
                @Html.ImageActionLink(Url.Content("~/Image/Iconos/Acciones/Boton_eliminar.png"), "", "Delete", new { id = item.id }, new { @class = "icon" })
            </td>
        </tr>
    }

</table>
