@model Intikonex_web1.Models.empresa

@{
    ViewBag.Title = "Empresa - Eliminar";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    <link href="~/Content/General.css" rel="stylesheet" />
    <script src="~/Scripts/Dashboard.js"></script>
}

<div>
    <h1 style="background-color:darkred; font-size:200%">¿Estás seguro de que quieres eliminar esta empresa?</h1>
    <hr />
    <table class="Listado">
        <tr>
            <th>
                <label>Nombre de la empresa</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.razon_social)
            </td>
        </tr>
        <tr>
            <th>
                <label>Dirección</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.direccion)
            </td>

        </tr>
        <tr>
            <th>
                <label>CIF</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.cif)
            </td>
        </tr>
        <tr>
            <th>
                <label>Teléfono</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.telefono)
            </td>
        </tr>
        <tr>
            <th>
                <label>Correo Electrónico</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.correo)
            </td>
        </tr>
        <tr>
            <th>
                <label>Tipo de Contrato</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.contrato.nombre)
            </td>
        </tr>
        <tr>
            <th>
                <label>Persona de contacto</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.trabajador.nombre)
                @Html.DisplayFor(model => model.trabajador.apellidos)
            </td>
        </tr>
        <tr>
            <th>
                <label>Técnico asignado</label>
            </th>
            <td>

                @Html.DisplayFor(model => model.usuario.nombre)
                @Html.DisplayFor(model => model.usuario.apellidos)
            </td>
        </tr>
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<table>
    <tr>
        <td>
            <a class="btn-material" style="width:100%" href="/Home/Index">
                <img class="icon" style="width:50px; height:50%" src="/Image/Iconos/Acciones/Boton_volver.png">
            </a>
        </td>
        <td>
            <button class="btn-material" style="width: 100%; border-style: hidden; cursor: pointer; background-color:white" type="submit" value="Delete">
                <img class="icon" style="width:50px; height:50%" src="~/Image/Iconos/Acciones/Boton_eliminar.png">
            </button>
        </td>
    </tr>
</table>

}